@using BhuInfo.Data.Objects.Entities
@using BhuInfo.Data.Service.Enums
@model IEnumerable<BhuInfo.Data.Objects.Entities.AppUser>

@{
    ViewBag.Title = "Index";
}
@{
    ViewBag.HeaderClass = "page-header";
    var loggedinuser = Session["bhuinfologgedinuser"] as AppUser;
}

  


<!DOCTYPE html>
<html>
<head>
    <title>Bhu-Info | Admin</title>
    <!-- Custom Theme files -->
    <link href="~/AppTheme/css/style.css" rel="stylesheet"/>
    <link href="~/Content/bootstrap.css" rel="stylesheet"/>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <link href="~/Scripts/plugins/Form/css/select2.css" rel="stylesheet" />
    <!-- Custom Theme files -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="Konstructs Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design"/>
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
</head>
<body>
<!-- header-section-starts -->
<div class="header">
    <div class="container">
        <div class="logo">
            <a href="@Url.Action("Index","Home")">
                <h1>Bhu-Info</h1>
            </a>
        </div>
        <div class="pages">
            <ul>
                @if ((loggedinuser != null) && (loggedinuser.Role == UserType.Administrator.ToString()))
                {
                    <li>
                        <a class="active" href="@Url.Action("Index","AppUsers")">Admin/Users</a>
                    </li>
                }
                else
                {
                    <li>
                        <a class="active" href="@Url.Action("Index","AppUsers")">Manager/Users</a>
                    </li>
                }
            </ul>
        </div>
        <div class="navigation">
            <ul>
                <li>
                    <a href="@Url.Action("LogOut","Account")">Log-Out</a>
                </li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="container">
    <div class="header-bottom">
        <div class="type">
            <h5>User Management</h5>
        </div>
        <span class="menu"></span>
        <div class="list-nav">
            <ul>
                <li>
                    <a href="@Url.Action("Index", "AppUsers")" class="active">Users</a>
                </li>|
                <li>
                    <a href="@Url.Action("Index", "News")">News</a>
                </li>|
                <li>
                    <a href="@Url.Action("Index", "NewsCategories")">News Category</a>
                </li>|
                <li>
                    <a href="@Url.Action("Index", "Events")">Events</a>
                </li>|
                <li>
                    <a href="materials.html">SRC Team</a>
                </li>
            </ul>
        </div>
        <!-- script for menu -->
        <script>
            $("span.menu")
                .click(function() {
                    $(".list-nav")
                        .slideToggle("slow",
                            function() {
                                // Animation complete.
                            });
                });
        </script>
        <!-- script for menu -->

        <div class="clearfix"></div>
    </div>
</div>
<header class="@ViewBag.HeaderClass">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="tagline">@ViewBag.Title</h2>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="panel panel-flat">

            <div class="panel-body">
                <div class="col-md-12">
                    @if ((loggedinuser != null) && (loggedinuser.Role == UserType.Administrator.ToString()))
                    {
                        <p>
                            @Html.ActionLink("Create New", "Create", null, new {@class = "btn btn-success"})
                        </p>
                    }

                    <table class="table table-condensed table-hover dataTable">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Firstname)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Lastname)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Email)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Mobile)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Role).ToString()
                            </th>
                            @if ((loggedinuser != null) && (loggedinuser.Role == UserType.Administrator.ToString()))
                            {
                                <th>Action</th>
                            }
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Firstname)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Lastname)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Mobile)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Role)
                                </td>
                                @if ((loggedinuser != null) && (loggedinuser.Role == UserType.Administrator.ToString()))
                                {
                                    <td>
                                        @Html.ActionLink("Edit", "Edit", new {id = item.AppUserId}, new {@class = "btn btn-primary"}) |
                                        @Html.ActionLink("Details", "Details", new {id = item.AppUserId}, new {@class = "btn btn-default"}) |
                                        @Html.ActionLink("Delete", "Delete", new {id = item.AppUserId}, new {@class = "btn btn-danger"})
                                    </td>
                                }
                            </tr>
                        }

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/JqueryPlugins/datatables/datatables.min.js"></script>
    <script src="~/JqueryPlugins/ui/drilldown.js"></script>
    <script src="~/JqueryPlugins/ui/nicescroll.min.js"></script>
    <script src="~/JqueryPlugins/ui/moment/moment.min.js"></script>

<script>
    $(document)
        .ready(function() {
            $('.dataTable').dataTable();
        });
</script>