@using BhuInfo.Data.Objects.Entities
@using BhuInfo.Data.Service.Encryption
@using BhuInfo.Data.Service.Enums
@model IEnumerable<BhuInfo.Data.Objects.Entities.AppUser>

@{
    ViewBag.Title = "Index";
}
@{
    ViewBag.HeaderClass = "page-header";
    var loggedinuser = Session["bhuinfologgedinuser"] as AppUser;
}
@{
    Layout = "~/Views/Shared/_LayoutViewDetails.cshtml";
}
@section css{
    <link href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" rel="stylesheet"/>
}
<div class="container">
    <div class="header-bottom">
        <div class="type">
            <h5>User Management</h5>
        </div>
        <span class="menu"></span>
        <div class="list-nav">
            <ul>
                <li>
                    <a href="@Url.Action("Index", "AppUsers")" class="active">Users</a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "News")">News</a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "NewsCategories")">News Category</a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "Events")">Events</a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "SchoolDiscussions")">Discussions</a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "Advertisements")">Advertisment</a>
                </li>
            </ul>
        </div>
        <!-- script for menu -->
        <script>
            $("span.menu")
                .click(function() {
                    $(".list-nav")
                        .slideToggle("slow",
                            function() {
                                // Animation complete.
                            });
                });
        </script>
        <!-- script for menu -->

        <div class="clearfix"></div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="panel panel-flat">

            <div class="panel-body">
                <div class="col-md-12">
                    @if (TempData["login"] != null)
                    {
                        <p class="alert-success fade in" style="height: 30px">@TempData["login"]</p>
                    }
                    @if (TempData["user"] != null)
                    {
                        if (TempData["notificationtype"].Equals(NotificationType.Success.ToString()))
                        {
                            <div class="alert-success alert-dismissable" style="height: 30px">@TempData["user"]</div>
                        }
                        else if (TempData["notificationtype"].Equals(NotificationType.Danger.ToString()))
                        {
                            <div class="alert-danger alert-dismissable" style="height: 30px">@TempData["user"]</div>
                        }
                        else if (TempData["notificationtype"].Equals(NotificationType.Info.ToString()))
                        {
                            <div class="alert-info alert-dismissable" style="height: 30px">@TempData["user"]</div>
                        }
                    }
                    @if ((loggedinuser != null) && (loggedinuser.Role == UserType.Administrator.ToString()))
                    {
                        <p>
                            @Html.ActionLink("Create New", "Create", null, new {@class = "btn btn-success"})
                        </p>
                    }
                    <div class="table-responsive">
                        <table class="table table-condensed table-hover" id="appusers">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Firstname)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Lastname)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Email)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Mobile)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Role).ToString()
                                </th>
                                @if ((loggedinuser != null) && (loggedinuser.Role == UserType.Administrator.ToString()))
                                {
                                    <th>Action</th>
                                }
                            </tr>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Firstname)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Lastname)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Email)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Mobile)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Role)
                                    </td>
                                    @if ((loggedinuser != null) && (loggedinuser.Role == UserType.Administrator.ToString()))
                                    {
                                        <td>
                                            @Html.ActionLink("Edit", "Edit", new {id = new Md5Ecryption().EncryptPrimaryKey(item.AppUserId.ToString(), true)}, new {@class = "btn btn-primary"}) |
                                            @Html.ActionLink("Details", "Details", new {id = new Md5Ecryption().EncryptPrimaryKey(item.AppUserId.ToString(), true)}, new {@class = "btn btn-default"}) |
                                            @Html.ActionLink("Delete", "Delete", new {id = new Md5Ecryption().EncryptPrimaryKey(item.AppUserId.ToString(), true)}, new {@class = "btn btn-danger"})
                                        </td>
                                    }
                                </tr>
                            }

                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
@section scripts {

    <script src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script>
        $(document)
            .ready(function() {
                $('#appusers').DataTable();
            });

    </script>
}