@using BhuInfo.Data.Objects.Entities
@using BhuInfo.Data.Service.Enums
@model BhuInfo.Data.Objects.Entities.Advertisement

@{
    ViewBag.Title = "Advertisement";
}
@{
    ViewBag.HeaderClass = "page-header";
    var loggedinuser = Session["bhuinfologgedinuser"] as AppUser;
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css{
    <link href="~/Scripts/plugins/ckeditor/contents.css" rel="stylesheet"/>
    <link href="~/Scripts/plugins/Form/css/select2.css" rel="stylesheet"/>
}
<div class="container">
    <div class="row">
        <div class="panel panel-flat">

            <div class="panel-body">
                <div class="col-md-12">
                    @if (TempData["advert"] != null)
                    {
                        if (TempData["notificationtype"].Equals(NotificationType.Success.ToString()))
                        {
                            <div class="alert-success alert-dismissable" style="height: 30px">@TempData["advert"]</div>
                        }
                        else if (TempData["notificationtype"].Equals(NotificationType.Danger.ToString()))
                        {
                            <div class="alert-danger alert-dismissable" style="height: 30px">@TempData["advert"]</div>
                        }
                        else if (TempData["notificationtype"].Equals(NotificationType.Info.ToString()))
                        {
                            <div class="alert-info alert-dismissable" style="height: 30px">@TempData["advert"]</div>
                        }
                    }
                    @using (Html.BeginForm("CreateAdvert", "Advertisements", FormMethod.Post, new {enctype = "multipart/form-data", @class = "form"}))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                        @Html.Hidden("Id",Model.AdvertisementId)
                        @Html.Hidden("AccessCode",Model.AccessCode)
                        @Html.Hidden("Email",Model.Email)
                        @Html.Hidden("Status",Model.Status)
                        @Html.Hidden("Type",Model.AdvertType)
                        @Html.Hidden("ModifiedBy",Model.LastModifiedById)
                        @Html.Hidden("CreatedBy",Model.CreatedById)
                        @Html.Hidden("LastModified",Model.DateLastModified)
                        @Html.Hidden("Created",Model.DateCreated)
                        <div class="row">
                            <div class="form-horizontal">
                                <div class="form-group col-md-12">
                                    @Html.LabelFor(model => model.AdvertCompanyName, new { @class = "control-label col-md-3" })
                                    <div class="col-sm-6 col-md-9">
                                        @Html.TextBoxFor(model => model.AdvertCompanyName, new { @class = "form-control", placeholder = "Enter your company name"})
                                        @Html.ValidationMessageFor(model => model.AdvertCompanyName, "", new { @class = "text-danger" })
                                    </div>

                                </div>
                                <div class="form-group col-md-12">
                                    @Html.LabelFor(model => model.Title, new {@class = "control-label col-md-3"})
                                    <div class="col-sm-6 col-md-9">
                                        @Html.TextBoxFor(model => model.Title, new {@class = "form-control", placeholder = "Enter a news title"})
                                        @Html.ValidationMessageFor(model => model.Title, "", new {@class = "text-danger"})
                                    </div>

                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group col-md-12">
                                    @Html.LabelFor(model => model.AdvertText, new { @class = "control-label col-md-3" })
                                    <div class="col-sm-6 col-md-9">
                                        @Html.TextBoxFor(model => model.AdvertText, new { @class = "form-control", placeholder = "Enter a news title" })
                                        @Html.ValidationMessageFor(model => model.AdvertText, "", new { @class = "text-danger" })
                                    </div>

                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group col-md-12">
                                    @Html.LabelFor(model => model.AdvertImage, new {@class = "control-label col-md-3"})
                                    <div class="col-sm-6 col-md-9">
                                        <input type="file" name="Image" id="Image" style="width: 100%;"/>
                                        @Html.ValidationMessageFor(model => model.AdvertImage, "", new {@class = "text-danger"})
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <a href="@Url.Action("Index", "Advertisements")" class="btn btn-default">Cancel</a>
                                <input type="submit" value="Create" class="btn btn-primary pull-right"/>

                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

</div>
@section scripts{
    <script src="~/Scripts/plugins/Form/js/select2.min.js"></script>
    <script src="~/Scripts/plugins/ckeditor/ckeditor.js"></script>
    <script type="text/javascript">
        $(document)
            .ready(function() {

                // Init select2 for dropdown select
                $('.select-dropdown').select2();

                CKEDITOR.replace("content");
                $('.select-dropdown input')
                    .select(function() {
                        var sel = $(this).val(),
                            extraimages = $('.extraiamges');

                        if (sel === 'Annoucement') {
                            extraimages.fadeIn();

                        } else {
                            extraimages.fadeOut();

                            setTimeout(function() {
                                },
                                600);
                        }

                    });
            })
    </script>
}