@using BhuInfo.Data.Factory.BusinessFactory
@using BhuInfo.Data.Objects.Entities
@using BhuInfo.Data.Service.DateTimeHelper
@using BhuInfo.Data.Service.Encryption
@using BhuInfo.Data.Service.Enums
@using BhuInfo.Data.Service.TextFormatter
@{
    ViewBag.Title = "About";
    var newsList = new NewsDataFactory().GetAllNews().Where(n => n.NewsCategory.Name == NewsCategoryEnum.General.ToString());
    var sortedNews = newsList.Take(1);
    var recentNews = sortedNews.ToList();
    Session["newsmodel"] = null;
    Session["activitymodel"] = Model;

    var newsLists = new NewsDataFactory().GetTopNthPopularNews(4);
    var popularNews = newsLists.ToList();
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="content">
        <div class="about-content">
            <!-- about -->
            <h3>About Us</h3>
            <img src="~/AppTheme/images/abt_pic.jpg" alt=""/>
            <p>
                Having hands on experience in creating innovative designs, I do offer design
                solutions which harness the new possibilities of web based communication,
                internet presence and current technology trends.
                <label>
                    I do specialize in all aspects of website designing, theme development,
                    designing custom home pages and landing pages At vero eos et accusamus
                    et iusto odio dignissimos ducimus
                    qui blanditiis praesentium Nam libero tempore, cum soluta nobis est eligendi
                    optio cumque nihil impedit quo minus id quod maxime placeat facere
                    possimus, omnis voluptas assumenda est, omnis dolor repellendus. voluptatum...
                </label>
            </p>
            <div class="clearfix"></div>
            <p class="Nam">
                Nam libero tempore, cum soluta nobis est eligendi
                optio cumque nihil impedit quo minus id quod maxime placeat facere
                possimus, omnis voluptas assumenda est, omnis dolor repellendus.
                Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus
                saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.
            </p>
            @*<div class="more">
                <a href="single.html">Learn More</a>
            </div>*@
        </div>
        <!-- //about -->
        <div class="col-md-7 content-left">
            <div class="article">
                <h5 class="head">in recent news</h5>
                @foreach (var item in recentNews)
                {
                    <h6>@item.NewsCategory.Name </h6>
                    <a class="title" href="@Url.Action("ViewNewsDetails", "Home", new {Id = new Md5Ecryption().EncryptPrimaryKey(item.NewsId.ToString(),true)})">@item.Title</a>
                    <a href="@Url.Action("ViewNewsDetails", "Home", new {Id = new Md5Ecryption().EncryptPrimaryKey(item.NewsId.ToString(),true)})">
                        <img src="~/UploadedFiles/@UploadType.NewsImage/@item.Image" alt=""/>
                    </a>
                    if (item.Content.Length > 50)
                    {
                        <p>@(new RemoveCharacters().RemoveSpecialCharacters(item.Content).Substring(0, 80) + "...")</p>
                    }
                    else
                    {
                        <p>@(new RemoveCharacters().RemoveSpecialCharacters(item.Content))</p>
                    }
                }
            </div>
        </div>
        <div class="col-md-5 content-right content-right-top">
            <h5 class="head">Popular</h5>
            @try
            {
                foreach (var item in popularNews)
                {
                    <a href="@Url.Action("ViewNewsDetails", "Home", new {Id = new Md5Ecryption().EncryptPrimaryKey(item.NewsId.ToString(),true)})">
                        <div class="editor text-center">
                            <h3>@item.Title</h3>
                            @if (item.Content.Length > 50)
                            {
                                <p>@(new RemoveCharacters().RemoveSpecialCharacters(item.Content).Substring(0, 80) + "...")</p>
                            }
                            else
                            {
                                <p>@(new RemoveCharacters().RemoveSpecialCharacters(item.Content))</p>
                            }
                            <label style="font-weight: bold">@(new DateTimeCalculator().TimeAgo(item.DateCreated))</label>
                            <br/>
                            <label style="color: black"> @(new DateTimeCalculator().CommentAndViews(item)) </label>
                            <br/>
                            @if ((item.Likes > 1) && (item.Dislikes > 1))
                            {
                                <label>
                                    <label style="color: green">@item.Likes Likes</label> <label style="color: red">@item.Dislikes Dislikes</label>
                                </label>
                            }
                            @if ((item.Likes <= 1) && (item.Dislikes <= 1))
                            {
                                <label>
                                    <label style="color: green">@item.Likes Like</label> <label style="color: red">@item.Dislikes Dislike</label>
                                </label>
                            }
                            @if ((item.Likes <= 1) && (item.Dislikes > 1))
                            {
                                <label>
                                    <label style="color: green">@item.Likes Like</label> <label style="color: red">@item.Dislikes Dislikes</label>
                                </label>
                            }
                            @if ((item.Likes > 1) && (item.Dislikes <= 1))
                            {
                                <label>
                                    <label style="color: green">@item.Likes Likes</label> <label style="color: red">@item.Dislikes Dislike</label>
                                </label>
                            }
                            <br/>
                            <span></span>
                        </div>
                    </a>
                }
            }
            catch (ArgumentOutOfRangeException)
            {
            }
        </div>
        <div class="clearfix"></div>
    </div>
</div>