@using BhuInfo.Data.Factory.BusinessFactory
@using BhuInfo.Data.Objects.Entities
@using BhuInfo.Data.Service.DateTimeHelper
@using BhuInfo.Data.Service.Enums
@{
    var newsList = new NewsDataFactory().GetAllNews().Where(n => n.NewsCategory.Name == NewsCategoryEnum.General.ToString());
    var sortedNews = newsList.Take(1);
    var recentNews = sortedNews.ToList();

    var loggedinuser = Session["bhuinfologgedinuser"] as AppUser;

    var newsLists = new NewsDataFactory().GetTopNthPopularNews(4);
    var popularNews = newsLists.ToList();
}
<!DOCTYPE html>
<html>
<head>
    <title>BhuInfo|About</title>
    <link href="~/AppTheme/css/bootstrap.css" rel="stylesheet" type="text/css"/>
    <!-- Custom Theme files -->
    <link href="~/AppTheme/css/style.css" rel="stylesheet" type="text/css" media="all"/>
    <!-- Custom Theme files -->
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <!-- Custom Theme files -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="Konstructs Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design"/>
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
</head>
<body>
<!-- header-section-starts -->
<div class="header">
    <div class="container">
        <div class="logo">
            <a href="@Url.Action("Index", "Home")">
                <h1>Bhu-Info</h1>
            </a>
        </div>
        <div class="pages">
            <ul>
                @if ((loggedinuser != null) && (loggedinuser.Role == UserType.Administrator.ToString()))
                {
                    <li>
                        <a class="active" href="@Url.Action("About", "Home")">News/About</a>
                    </li>
                }
                else
                {
                    <li>
                        <a class="active" href="@Url.Action("About", "Home")">News/About</a>
                    </li>
                }
            </ul>
        </div>
        <div class="navigation">
            <ul>
                @if (loggedinuser != null)
                {
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-user"></span>
                                <strong>@loggedinuser.Firstname</strong>
                                <span class="glyphicon glyphicon-chevron-down"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <div class="navbar-login">
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <p class="text-center">
                                                    <span class="glyphicon glyphicon-user icon-size"></span>
                                                </p>

                                                <div class="col-lg-8">
                                                    <p class="text-left">
                                                        <strong>@loggedinuser.DisplayName</strong>
                                                    </p>
                                                    <p class="text-left small">@loggedinuser.Email</p>

                                                    <p class="text-left">
                                                        <a href="#" class="btn btn-primary">Profile</a>
                                                    </p>

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </li>

                                <li class="divider navbar-login-session-bg"></li>
                                <li class="navbar-login-session-bg">
                                    <div class="navbar-login navbar-login-session">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <p>
                                                    <a href="@Url.Action("LogOut", "Account")" class="btn btn-danger btn-block">Logout</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                }

                else
                {
                    <li>
                        <a href="@Url.Action("Login", "Account")">Log In</a>
                    </li>
                }
                <li>
                    <a href="@Url.Action("About", "Home")" class="active">About Us</a>
                </li>
                <li>
                    <a href="@Url.Action("Contact", "Home")">Contact Us</a>
                </li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="container">
    <div class="header-bottom">
        <div class="type">
            <h5>Article Category</h5>
        </div>
        <span class="menu"></span>
        <div class="list-nav">
            <ul>
                <li>
                    <a href="@Url.Action("Index", "Home")">General</a>
                </li>|
                <li>
                    <a href="@Url.Action("SportsNews", "Home")">Sports</a>
                </li>|
                <li>
                    <a href="@Url.Action("FashionNews", "Home")">Fashion</a>
                </li>|
                <li>
                    <a href="materials.html">SRC Team</a>
                </li>
            </ul>
        </div>
        <!-- script for menu -->
        <script>
            $("span.menu")
                .click(function() {
                    $(".list-nav")
                        .slideToggle("slow",
                            function() {
                                // Animation complete.
                            });
                });
        </script>
        <!-- script for menu -->
        <div class="clearfix"></div>
    </div>
</div>
<div class="container">
    <div class="content">
        <div class="about-content">
            <!-- about -->
            <h3>About Us</h3>
            <img src="~/AppTheme/images/abt_pic.jpg" alt=" "/>
            <p>
                Having hands on experience in creating innovative designs, I do offer design
                solutions which harness the new possibilities of web based communication,
                internet presence and current technology trends.
                <label>
                    I do specialize in all aspects of website designing, theme development,
                    designing custom home pages and landing pages At vero eos et accusamus
                    et iusto odio dignissimos ducimus
                    qui blanditiis praesentium Nam libero tempore, cum soluta nobis est eligendi
                    optio cumque nihil impedit quo minus id quod maxime placeat facere
                    possimus, omnis voluptas assumenda est, omnis dolor repellendus. voluptatum...
                </label>
            </p>
            <div class="clearfix"></div>
            <p class="Nam">
                Nam libero tempore, cum soluta nobis est eligendi
                optio cumque nihil impedit quo minus id quod maxime placeat facere
                possimus, omnis voluptas assumenda est, omnis dolor repellendus.
                Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus
                saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.
            </p>
            <div class="more">
                <a href="single.html">Learn More</a>
            </div>
        </div>
        <!-- //about -->
        <div class="col-md-7 content-left">
            <div class="article">
                <h5 class="head">in recent news</h5>
                @foreach (var item in recentNews)
                {
                    <h6>@item.NewsCategory.Name </h6>
                    <a class="title" href="@Url.Action("ViewNewsDetails", "Home", new {Id = item.NewsId})">@item.Title</a>
                    <a href="@Url.Action("ViewNewsDetails", "Home", new {Id = item.NewsId})">
                        <img src="~/AppTheme/images/a1.jpg" alt=""/>
                    </a>
                    <p>@item.Content</p>
                }
            </div>
        </div>
        <div class="col-md-5 content-right content-right-top">
            <h5 class="head">Popular</h5>
            @try
            {
                <h5 class="head">Popular</h5>
                foreach (var item in popularNews)
                {
                    <a href="@Url.Action("ViewNewsDetails", "Home", new {Id = item.NewsId})">
                        <div class="editor text-center">
                            <h3>@item.Title</h3>
                            <p>@item.Content</p>
                            <label>@(new DateTimeCalculator().TimeAgo(item.DateCreated))</label>
                            <span></span>
                        </div>
                    </a>
                }
            }
            catch (ArgumentOutOfRangeException ex)
            {
            }
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="footer">
    <div class="footer-top">
        <div class="container">
            <div class="col-md-3 footer-links">
                <h4>Other pages and things</h4>
                <a href="#">Design a creative Blog</a>
                <a href="#">Design a iPad Website</a>
                <a href="#">Single Page sales portfolio </a>
                <a href="#">Flat product website in Photoshop</a>
                <a href="#">Design a creative Blog</a>
                <a href="#">Design a iPad Website</a>
                <a href="#">Single Page sales portfolio </a>
                <a href="#">Flat product website</a>
            </div>
            <div class="col-md-3 footer-links span_66">
                <a href="#">Flat product website in Photoshop</a>
                <a href="#">Design a creative Blog</a>
                <a href="#">Design a iPad Website </a>
            </div>
            <div class="col-md-3 footer-links">
                <h4>Relevant Articles</h4>
                <a href="#">Design a creative Blog</a>
                <a href="#">Design a iPad Website</a>
                <a href="#">Single Page sales portfolio </a>
                <a href="#">Flat product website</a>
                <a href="#">Design a creative Blog</a>
            </div>
            <div class="col-md-3 footer-links">
                <h4>Other pages and things</h4>
                <a href="#">Blaz Robar</a>
                <a href="#">Nick Toranto</a>
                <a href="#">Joisp Kelava</a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="copyrights">
                <p>
                    Konstructs © 2015 All rights reserved | Template by <a href="http://w3layouts.com"> W3layouts</a>
                </p>
            </div>
        </div>
    </div>
</div>
</body>
</html>