@using BhuInfo.Data.Objects.Entities
@using BhuInfo.Data.Service.Enums
@{
    ViewBag.Title = "Contact";
    var loggedinuser = Session["bhuinfologgedinuser"] as AppUser;
}
<!DOCTYPE html>
<html>
<head>
    <title>Bhu-Info|Contact</title>
    <link href="~/AppTheme/css/bootstrap.css" rel="stylesheet" type="text/css"/>
    <!-- Custom Theme files -->
    <link href="~/AppTheme/css/style.css" rel="stylesheet" type="text/css" media="all"/>
    <!-- Custom Theme files -->
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <!-- Custom Theme files -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="Konstructs Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design"/>
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
</head>
<body>
<!-- header-section-starts -->
<div class="header">
    <div class="container">
        <div class="logo">
            <a href="@Url.Action("Index", "Home")">
                <h1>Bhu-Info</h1>
            </a>
        </div>
        <div class="pages">
            <ul>
                @if ((loggedinuser != null) && (loggedinuser.Role == UserType.Administrator.ToString()))
                {
                    <li>
                        <a class="active" href="@Url.Action("Contact", "Home")">News/Contact</a>
                    </li>
                }
                else
                {
                    <li>
                        <a class="active" href="@Url.Action("Contact", "Home")">News/Contact</a>
                    </li>
                }
            </ul>
        </div>
        <div class="navigation">
            <ul>
                @if (loggedinuser != null)
                {
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-user"></span>
                                <strong>@loggedinuser.Firstname</strong>
                                <span class="glyphicon glyphicon-chevron-down"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <div class="navbar-login">
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <p class="text-center">
                                                    <span class="glyphicon glyphicon-user icon-size"></span>
                                                </p>

                                                <div class="col-lg-8">
                                                    <p class="text-left">
                                                        <strong>@loggedinuser.DisplayName</strong>
                                                    </p>
                                                    <p class="text-left small">@loggedinuser.Email</p>

                                                    <p class="text-left">
                                                        <a href="#" class="btn btn-primary">Profile</a>
                                                    </p>

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </li>

                                <li class="divider navbar-login-session-bg"></li>
                                <li class="navbar-login-session-bg">
                                    <div class="navbar-login navbar-login-session">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <p>
                                                    <a href="@Url.Action("LogOut", "Account")" class="btn btn-danger btn-block">Logout</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                }

                else
                {
                    <li>
                        <a href="@Url.Action("Login", "Account")">Log In</a>
                    </li>
                }
                <li>
                    <a href="@Url.Action("About", "Home")">About Us</a>
                </li>
                <li>
                    <a href="@Url.Action("Contact", "Home")" class="active">Contact Us</a>
                </li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="container">
    <div class="header-bottom">
        <div class="type">
            <h5>Article Category</h5>
        </div>
        <span class="menu"></span>
        <div class="list-nav">
            <ul>
                <li>
                    <a href="@Url.Action("Index", "Home")">General</a>
                </li>|
                <li>
                    <a href="@Url.Action("SportsNews", "Home")">Sports</a>
                </li>|
                <li>
                    <a href="@Url.Action("FashionNews", "Home")">Fashion</a>
                </li>|
                <li>
                    <a href="materials.html">SRC Team</a>
                </li>
            </ul>
        </div>
        <!-- script for menu -->
        <script>
            $("span.menu")
                .click(function() {
                    $(".list-nav")
                        .slideToggle("slow",
                            function() {
                                // Animation complete.
                            });
                });
        </script>
        <!-- script for menu -->
        <div class="clearfix"></div>
    </div>
</div>
<div class="container">
    <div class="content">
        <div class="contact-section">
            <h3 class="c-head" style="font-family: -apple-system; font-weight: bolder">contact-us</h3>
            <div class="singel_right">
                <div class="lcontact span_1_of_contact">
                    <div class="contact-form">
                        @using (Html.BeginForm("ContactUs", "Home", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                            <div class=" row">
                                <div class="form-group col-md-12">
                                    @Html.Label("Name", null, new {@class = "control-label"})
                                    @Html.TextBox("SenderName", null, new {@class = "form-control", placeholder = "Enter your Name"})

                                </div>
                                <div class="form-group col-md-12">
                                    @Html.Label("Email", null, new {@class = "control-label"})
                                    @Html.TextBox("Email", null, new {@class = "form-control", placeholder = "Enter your Email"})

                                </div>
                                <div class="form-group col-md-12">
                                    @Html.Label("Message", null, new {@class = "control-label"})
                                    @Html.TextArea("Message", null, new {@class = "form-control", placeholder = "Enter a message"})

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <input type="submit" value="submit" class="btn btn-primary pull-right"/>

                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div class="contact_grid span_2_of_contact_right">
                    <h3 class="detailsDiv">Address</h3>
                    <div class="address">
                        <i class="pin_icon"></i>
                        <div class="contact_address">
                            The Vice Chancellor,
                            Bingham University,
                            P.M.B 005,
                            KM 26 Abuja-Keffi Expressway Kodope,
                            Karu, Nasarawa State.
                            E-mail: vc@binghamuni.edu.ng

                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="address">
                        <i class="fa-phone"></i>
                        <div class="contact_address">
                            The Registrar,
                            Bingham University,
                            P.M.B 005,
                            KM 26 Abuja-Keffi Expressway Kodope,
                            Karu, Nasarawa State.
                            E-mail: registrar@binghamuni.edu.ng
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="address">
                        <i class="mail"></i>
                        <div class="contact_email">
                            <a href="mailto:example@gmail.com">info(at)company.com</a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="map">
                <iframe src="https://goo.gl/maps/tqjnKCQve3n" style="border: 0">
                </iframe>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="footer-top">
        <div class="container">
            <div class="col-md-3 footer-links">
                <h4>Other pages and things</h4>
                <a href="#">Design a creative Blog</a>
                <a href="#">Design a iPad Website</a>
                <a href="#">Single Page sales portfolio </a>
                <a href="#">Flat product website in Photoshop</a>
                <a href="#">Design a creative Blog</a>
                <a href="#">Design a iPad Website</a>
                <a href="#">Single Page sales portfolio </a>
                <a href="#">Flat product website</a>
            </div>
            <div class="col-md-3 footer-links span_66">
                <a href="#">Flat product website in Photoshop</a>
                <a href="#">Design a creative Blog</a>
                <a href="#">Design a iPad Website </a>
            </div>
            <div class="col-md-3 footer-links">
                <h4>Relevant Articles</h4>
                <a href="#">Design a creative Blog</a>
                <a href="#">Design a iPad Website</a>
                <a href="#">Single Page sales portfolio </a>
                <a href="#">Flat product website</a>
                <a href="#">Design a creative Blog</a>
            </div>
            <div class="col-md-3 footer-links">
                <h4>Other pages and things</h4>
                <a href="#">Blaz Robar</a>
                <a href="#">Nick Toranto</a>
                <a href="#">Joisp Kelava</a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="copyrights">
                <p>Bhu-Info © 2015 All rights reserved | Template by Babayegar </p>
            </div>
        </div>
    </div>
</div>
</body>
</html>