@using BhuInfo.Data.Factory.BusinessFactory
@using BhuInfo.Data.Objects.Entities
@using BhuInfo.Data.Service.DateTimeHelper
@using BhuInfo.Data.Service.Enums
@using BhuInfo.Data.Service.TextFormatter
@model IEnumerable<BhuInfo.Data.Objects.Entities.News>
@{
    ViewBag.Title = "Sports";

    var newsList = new NewsDataFactory().GetTopNthPopularNewsForCategory(NewsCategoryEnum.Sports, 4);
    var news = newsList.ToList();

    var newsCategoryList = new NewsDataFactory().GetLatestNewsByCategory(NewsCategoryEnum.Sports, 2);
    var recentCategoryNews = newsCategoryList.ToList();

    var recentNews = Model.Take(4);

    var loggedinuser = Session["bhuinfologgedinuser"] as AppUser;

    var mostRecentSingleNews = new NewsDataFactory().GetMostRecentSingleNewsByCategory(NewsCategoryEnum.Sports);
    var mostRecentNewsPostedBy = new AppUserFactory().GetAppUserById((int) mostRecentSingleNews.CreatedById);
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- header-section-starts -->
<div class="header">
    <div class="container">
        <div class="logo">
            <a href="@Url.Action("Index", "Home")">
                <h1>Bhu-Info</h1>
            </a>
        </div>
        <div class="pages">
            <ul>
                <li>
                    <a class="active" href="@Url.Action("Index", "Home")">News/Articles</a>
                </li>
            </ul>
        </div>
        <div class="navigation">
            <ul>
                <li>
                    <a href="@Url.Action("About", "Home")">About Us</a>
                </li>
                <li>
                    <a href="@Url.Action("Contact", "Home")">Contact Us</a>
                </li>

                @if (loggedinuser != null)
                {
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-user"></span>
                                <strong>@loggedinuser.Firstname</strong>
                                <span class="glyphicon glyphicon-chevron-down"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <div class="navbar-login">
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <p class="text-center">
                                                    <span class="glyphicon glyphicon-user icon-size"></span>
                                                </p>

                                                <div class="col-lg-8">
                                                    <p class="text-left">
                                                        <strong>@loggedinuser.DisplayName</strong>
                                                    </p>
                                                    <p class="text-left small">@loggedinuser.Email</p>

                                                    @if (loggedinuser.Role == UserType.Administrator.ToString())
                                                    {
                                                        <p class="text-left">
                                                            <a href="@Url.Action("Index", "AppUsers")" class="btn btn-primary">Dashboard</a>
                                                        </p>
                                                    }
                                                    else if (loggedinuser.Role == UserType.Manager.ToString())
                                                    {
                                                        <p class="text-left">
                                                            <a href="@Url.Action("Index", "News")" class="btn btn-primary">Dashboard</a>
                                                        </p>
                                                    }
                                                    <p class="text-left">
                                                        <a href="@Url.Action("ChangePassword", "Account")" class="btn btn-success">Change Password</a>
                                                    </p>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </li>

                                <li class="divider navbar-login-session-bg"></li>
                                <li class="navbar-login-session-bg">
                                    <div class="navbar-login navbar-login-session">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <p>
                                                    <a href="@Url.Action("LogOut", "Account")" class="btn btn-danger btn-block">Logout</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                }

                else
                {
                    <li>
                        <a href="@Url.Action("Login", "Account")">Log In</a>
                    </li>
                }
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="container">
    <div class="header-bottom">
        <div class="type">
            <h5>Sports</h5>
        </div>
        <span class="menu"></span>
        <div class="list-nav">
            <ul>
                <li>
                    <a href="@Url.Action("Index", "Home")">Home</a>
                </li>|
                <li>
                    <a href="@Url.Action("GeneralNews", "Home")">General</a>
                </li>|
                <li>
                    <a href="@Url.Action("SportsNews", "Home")" class="active">Sports</a>
                </li>|
                <li>
                    <a href="@Url.Action("FashionNews", "Home")">Fashion</a>
                </li>|
                <li>
                    <a href="@Url.Action("Index", "SchoolDiscussions")">Discussions</a>
                </li>|
                <li>
                    <a href="@Url.Action("UpcomingEvent","Home")">Events</a>
                </li>|
                <li>
                    <a href="@Url.Action("SrcTeam", "Home")">SRC Team</a>
                </li>
            </ul>
        </div>
        <!-- script for menu -->
        <script>
            $("span.menu")
                .click(function() {
                    $(".list-nav")
                        .slideToggle("slow",
                            function() {
                                // Animation complete.
                            });
                });
        </script>
        <!-- script for menu -->
        <div class="clearfix"></div>
    </div>
</div>
<div class="container">
    <div class="content">
        <div class="col-md-7 printing-content">
            <div class="print-main">
                <h3>@mostRecentSingleNews.NewsCategory.Name</h3>
                <a href="#">@mostRecentSingleNews.Title</a>
                <p class="sub_head">
                    Posted by <a href="#">
                        <span style="font-weight: bold">@mostRecentNewsPostedBy.DisplayName</span></a> @(new DateTimeCalculator().TimeAgo(mostRecentSingleNews.DateCreated))
                </p>
                <a href="#">
                    <img src="~/UploadedFiles/@UploadType.NewsImage/@mostRecentSingleNews.Image" class="img-responsive" alt=""/>
                </a>
                @if (mostRecentSingleNews.Content.Length > 40)
                {
                    <p class="ptext">@(new RemoveCharacters().RemoveSpecialCharacters(mostRecentSingleNews.Content).Substring(0, 80) + "...")</p>
                }
                else
                {
                    <p>@(new RemoveCharacters().RemoveSpecialCharacters(mostRecentSingleNews.Content))</p>
                }
            </div>
            <div class="print-grids">
                @try
                {
                    foreach (var item in recentCategoryNews)
                    {
                        <div class="print-grid">
                            <div class="print-img">
                                <a href="@Url.Action("ViewNewsDetails", "Home", new {Id = item.NewsId})">
                                    <img src="~/UploadedFiles/@UploadType.NewsImage/@item.Image" class="img-responsive" alt=""/>
                                </a>
                            </div>
                            <div class="print-text">
                                <a class="bhead" href="@Url.Action("ViewNewsDetails", "Home", new {Id = item.NewsId})">@item.Title</a>
                                <p>
                                    Posted by <a href="#">@(new AppUserFactory().GetAppUserById((int) item.CreatedById).DisplayName);</a> @(new DateTimeCalculator().TimeAgo(item.DateCreated))
                                </p>
                                @if (item.Content.Length > 40)
                                {
                                    <p>@(new RemoveCharacters().RemoveSpecialCharacters(item.Content).Substring(0, 80) + "...")</p>
                                }
                                else
                                {
                                    <p>@(new RemoveCharacters().RemoveSpecialCharacters(item.Content))</p>
                                }
                                <a class="more" href="@Url.Action("ViewNewsDetails", "Home", new {Id = item.NewsId})">...Read More</a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    }
                }
                catch (ArgumentOutOfRangeException ex)
                {
                }
            </div>
        </div>
        <div class="col-md-5 content-right">
            <div class="content-right-top">
                <h5 class="head">Popular</h5>
                @try
                {
                    foreach (var item in news)
                    {
                        <a href="@Url.Action("ViewNewsDetails", "Home", new {Id = item.NewsId})">
                            <div class="editor text-center">
                                <h3>@item.Title</h3>
                                @if (item.Content.Length > 40)
                                {
                                    <p>@(new RemoveCharacters().RemoveSpecialCharacters(item.Content).Substring(0, 80) + "...")</p>
                                }
                                else
                                {
                                    <p>@(new RemoveCharacters().RemoveSpecialCharacters(item.Content))</p>
                                }
                                <label>@(new DateTimeCalculator().TimeAgo(item.DateCreated))</label>
                                <span></span>
                            </div>
                        </a>
                    }
                }
                catch (ArgumentOutOfRangeException ex)
                {
                }
            </div>
            <div class="editors-pic-grids">
                @try
                {
                    <h5>Recent News</h5>
                    foreach (var item in recentNews)
                    {
                        <div class="editors-pic">
                            <div class="e-pic">
                                <a href="@Url.Action("ViewNewsDetails", "Home", new {Id = item.NewsId})">
                                    <img src="~/AppTheme/images/ep1.jpg" alt=""/>
                                </a>
                            </div>
                            <div class="e-pic-info">
                                <a href="@Url.Action("ViewNewsDetails", "Home", new {Id = item.NewsId})">@item.Title</a>
                                <span></span>
                                <label>@(new DateTimeCalculator().TimeAgo(item.DateCreated))</label>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    }
                }
                catch (ArgumentOutOfRangeException ex)
                {
                }
            </div>
        </div>
        <div class="clearfix"></div>

        <div class="clearfix"></div>
    </div>
</div>