@using BhuInfo.Data.Objects.Entities
@using BhuInfo.Data.Service.Enums
@model IEnumerable<BhuInfo.Data.Objects.Entities.News>
@{
    ViewBag.Title = "SRC Team";

    var loggedinuser = Session["bhuinfologgedinuser"] as AppUser;
}
@{
    Layout = "~/Views/Shared/_LayoutViewDetails.cshtml";
}
@section css{

    <link href="~/AppTheme/team.css" rel="stylesheet"/>
}
<div class="container">
    <div class="header-bottom">
        <div class="type">
            <h5>SRC Team</h5>
        </div>
        <span class="menu"></span>
        <div class="list-nav">
            <ul>
                <li>
                    <a href="@Url.Action("Index", "Home")">Home</a>
                </li>|
                <li>
                    <a href="@Url.Action("GeneralNews", "Home")">General</a>
                </li>|
                <li>
                    <a href="@Url.Action("SportsNews", "Home")">Sports</a>
                </li>|
                <li>
                    <a href="@Url.Action("FashionNews", "Home")">Fashion</a>
                </li>|
                <li>
                    <a href="@Url.Action("Index", "SchoolDiscussions")">Discussions</a>
                </li>|
                <li>
                    <a href="@Url.Action("UpcomingEvent","Home")">Events</a>
                </li>|
                <li>
                    <a href="@Url.Action("SrcTeam", "Home")" class="active">SRC Team</a>
                </li>
            </ul>
        </div>
        <!-- script for menu -->
        <script>
            $("span.menu")
                .click(function() {
                    $(".list-nav")
                        .slideToggle("slow",
                            function() {
                                // Animation complete.
                            });
                });
        </script>
        <!-- script for menu -->
        <div class="clearfix"></div>
    </div>
</div>
<div class="container">
    <div class="content">

        <div class="team_grid">
            <h3 class="m_1">Meet Our Team</h3>
            <div class="span_3">
                <div class="col-md-6 ab-top">
                    <ul class="span_2">
                        <li class="span_2-left">
                            <img src="~/AppTheme/images/a1.jpg" style="height: 130px; width: 120px" class="img-responsive" alt="">
                        </li>
                        <li class="span_2-right">
                            <h2>President</h2>
                            <h3>President</h3>

                            <p>It is a long established fact that a reader will be distracted by the readable content of a page</p>
                        </li>
                        <div class="clearfix"> </div>
                    </ul>
                </div>
                <div class="col-md-6 ab-top">
                    <ul class="span_2">
                        <li class="span_2-left">
                            <img src="~/AppTheme/images/a1.jpg" style="height: 130px; width: 120px" class="img-responsive" alt="">
                        </li>
                        <li class="span_2-right">
                            <h2>Vice President</h2>
                            <h3>Vice President</h3>

                            <p>It is a long established fact that a reader will be distracted by the readable content of a page</p>
                        </li>
                        <div class="clearfix"> </div>
                    </ul>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="span_4">
                <div class="col-md-6 ab-top">
                    <ul class="span_2">
                        <li class="span_2-left">
                            <img src="~/AppTheme/images/a1.jpg" style="height: 130px; width: 120px" class="img-responsive" alt="">
                        </li>
                        <li class="span_2-right">
                            <h2>Secretary General</h2>
                            <h3>Secretary General</h3>

                            <p>It is a long established fact that a reader will be distracted by the readable content of a page</p>

                        </li>
                        <div class="clearfix"> </div>
                    </ul>
                </div>
                <div class="col-md-6 ab-top">
                    <ul class="span_2">
                        <li class="span_2-left">
                            <img src="~/AppTheme/images/a1.jpg" style="height: 130px; width: 120px" class="img-responsive" alt="">
                        </li>
                        <li class="span_2-right">
                            <h2>Accountant</h2>
                            <h3>Accountant</h3>

                            <p>It is a long established fact that a reader will be distracted by the readable content of a page</p>

                        </li>
                        <div class="clearfix"> </div>
                    </ul>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="span_3">
                <div class="col-md-6 ab-top">
                    <ul class="span_2">
                        <li class="span_2-left">
                            <img src="~/Content/SrcImages/asssecgen.jpg" style="height: 130px; width: 120px" class="img-responsive" alt="">
                        </li>
                        <li class="span_2-right">
                            <h2>David Daniel Otobo</h2>
                            <h3>Assistant Secretary General</h3>
                            <h4>Medicine and Surgery</h4>
                            <h4>200 level</h4>

                            <p>
                                Quote: CREDO UT INTELLEGAM....

                                Being the Assistant secretary-General of the students Representative Council, its not actually a laxative fare. In proper reminiscence, it is a sensitive position to the students and the council.
                                 A caricature of the council will be made if the secretariat is setback or lackadaisical. Hence, the importance of two proper secretary-Generals. Upholding basically equal constitutional, but systematically allocated mandates.
                                Hence, you can be free to see the secretary-General as the river bank which the boats dock, and the Assistant as the London bridge that reduces the work load, yet connects. Don't drop a sweat, I may be the London bridge, but this time, its not coming down.
                            </p>

                        </li>
                        <div class="clearfix"> </div>
                    </ul>
                </div>
                <div class="col-md-6 ab-top">
                    <ul class="span_2">
                        <li class="span_2-left">
                            <img src="~/Content/SrcImages/tresurer.jpg" style="height: 130px; width: 120px" class="img-responsive" alt="">
                        </li>
                        <li class="span_2-right">
                            <h2> Tenebe Mary-Clara</h2>
                            <h3>Treasurer</h3>
                            <h4>Medicine and Surgery</h4>
                            <h4>200 level</h4>

                            <p>
                                Hello everyone, my name is TENEBE, Mary-Clara. I am more thank honored to serve as the SRC Treasurer for the 2016/2017 academic session. I'm a 200L medical student, from the faculty of Basic Medical Sciences.
                                As the treasurer, I am charged with the responsibility of ensuring that the monies of the council are properly taken care of, kept safe and invested wisely.

                                Basically, I'm here to ensure that funds are spent wisely, for the right reasons, beneficial to all the students. Thanks!.
                            </p>

                        </li>
                        <div class="clearfix"> </div>
                    </ul>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="span_3">
                <div class="col-md-6 ab-top">
                    <ul class="span_2">
                        <li class="span_2-left">
                            <img src="~/Content/SrcImages/dos.jpg" style="height: 130px; width: 120px" class="img-responsive" alt="">
                        </li>
                        <li class="span_2-right">
                            <h2>Jonathan Jnr. Pwajok</h2>
                            <h3>Director Of Socials</h3>
                            <h4>Economics</h4>
                            <h4>400 level</h4>

                            <p>
                                Hey y’all, My name is Pwajok, Jahwon Jonathan. My nickname is Hectik, I’m a 400 level student of the department of Economics. 
                                I’m a simple person, all things being equal; as the Undergraduate serving Director of Socials for the 2016/2017 session, I intend to operate an open door policy by creating an atmosphere where everybody has a chance to add his/her initiative to the social growth & wellbeing of Bingham University. I Find hope in the darkest of days, and focus in the brightest; I do not judge the universe, and I always tell people, life is short, damn too short for negative vibes, so, live it up, do what you love, love what you do, make the most outta every situation you find yourself, hold onto God, 
                                for he sees, knows and controls all things, and always keep in mind; there’s no second chance to making a first impression… 
                            </p>

                        </li>
                        <div class="clearfix"> </div>
                    </ul>
                </div>
                <div class="col-md-6 ab-top">
                    <ul class="span_2">
                        <li class="span_2-left">
                            <img src="~/Content/SrcImages/sports.jpg" style="height: 130px; width: 120px" class="img-responsive" alt="">
                        </li>
                        <li class="span_2-right">
                            <h2>Bitrus Zephaniah Tada</h2>
                            <h3>Director Of Sports</h3>
                            <h4>Computer Science</h4>
                            <h4>300 level</h4>

                            <p>
                                Quote:“It does not matter how slowly you go as long as you do not stop,
                                Don’t regret the past, just learn from it.” »“Don’t wait. The time will never be just right.”
                                We become what we think about, the obstacle is the path. If there is anything lemme know pls thanks

                            </p>

                        </li>
                        <div class="clearfix"> </div>
                    </ul>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="span_3">
                <div class="col-md-6 ab-top">
                    <ul class="span_2">
                        <li class="span_2-left">
                            <img src="~/Content/SrcImages/welfaremale.jpg" style="height: 130px; width: 120px" class="img-responsive" alt="">
                        </li>
                        <li class="span_2-right">
                            <h2> Ijuptil James Ijai</h2>
                            <h3>Welfare Officer Male</h3>
                            <h4>Economics</h4>
                            <h4>300 level</h4>

                            <p>Be the change you want to see in the world</p>

                        </li>
                        <div class="clearfix"> </div>
                    </ul>
                </div>
                <div class="col-md-6 ab-top">
                    <ul class="span_2">
                        <li class="span_2-left">
                            <img src="~/AppTheme/images/a1.jpg" style="height: 130px; width: 120px" class="img-responsive" alt="">
                        </li>
                        <li class="span_2-right">
                            <h2>Welfare Officer Male</h2>
                            <h3>Welfare Officer Male</h3>

                            <p>It is a long established fact that a reader will be distracted by the readable content of a page</p>

                        </li>
                        <div class="clearfix"> </div>
                    </ul>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="span_3">
                <div class="col-md-6 ab-top">
                    <ul class="span_2">
                        <li class="span_2-left">
                            <img src="~/Content/SrcImages/promale.jpg" style="height: 130px; width: 120px" class="img-responsive" alt="">
                        </li>
                        <li class="span_2-right">
                            <h2>Ayemakpe Benefit</h2>
                            <h3>Public Relations Officer Male</h3>
                            <h4>Accounting</h4>
                            <h4>300 level</h4>

                            <p>
                                I am delighted to serve as the male Public Relation Officer for the Student Representative Council 2016/2017 Academic session.
                                I am an undergraduate student from the Department of Accounting.
                                With the help of God my goal is to ensure that every student is duly and properly informed on school happenings as it may concern them, promote favourable interactions amongst students and can express their requisite opinions... in building a favourable image for our bingham community...
                                I look forward to working with you.
                            </p>

                        </li>
                        <div class="clearfix"> </div>
                    </ul>
                </div>
                <div class="col-md-6 ab-top">
                    <ul class="span_2">
                        <li class="span_2-left">
                            <img src="~/AppTheme/images/a1.jpg" style="height: 130px; width: 120px" class="img-responsive" alt="">
                        </li>
                        <li class="span_2-right">
                            <h2>Welfare Officer Male</h2>
                            <h3>Welfare Officer Male</h3>

                            <p>It is a long established fact that a reader will be distracted by the readable content of a page</p>

                        </li>
                        <div class="clearfix"> </div>
                    </ul>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="clearfix"></div>

            <div class="clearfix"></div>
        </div>
    </div>
</div>