@using BhuInfo.Data.Objects.Entities
@using BhuInfo.Data.Service.Enums
@model List<BhuInfo.Data.Objects.Entities.Event>

@{
    ViewBag.Title = "Events";
    var eventRestriction = Model.Where(n => n.EndDate >= DateTime.Now);
    var restriction = eventRestriction as IList<Event> ?? eventRestriction.ToList();
    var oderedEvent = restriction.OrderByDescending(n => n.StartDate);

    var loggedinuser = Session["bhuinfologgedinuser"] as AppUser;
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<header class="@ViewBag.HeaderClass">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            @if ((loggedinuser != null) && (loggedinuser.Role.Equals(UserType.Administrator.ToString()) || loggedinuser.Role.Equals(UserType.Manager.ToString())))
            {
                <div class="col-lg-12">
                    <a href="@Url.Action("Create", "Events")" class="btn btn-success">Create</a>
                </div>
            }
            else
            {
                <div class="col-lg-12">

                </div>
            }
        </div>
    </div>
</header>
<div class="container">
    <div class="content">

        <div class="col-md-12 content-right content-right-top">
            <div class="editors-pic-grids">

                <h5 class="head" style="color: #1ac7c3">Upcoming Events</h5>
                @foreach (var item in oderedEvent)
                {
                    <div class="editor text-center">

                        <h2 style="color: #1ac7c3; font-family: -apple-system; font-weight: bolder;">@item.EventName</h2>
                        <label style="color: black">Venue: @item.Venue </label><br/>
                        <label style="color: black">Organizer: @item.Organizer </label><br/>
                        <label style="color: black">Start Date: @item.StartDate.ToShortDateString()</label><br/>
                        <label style="color: black">End Date: @item.EndDate.ToShortDateString() </label><br/>
                        <label style="color: green">Starts: @item.StartTime</label><br/>
                        <label style="color: red">Ends: @item.EndTime</label><br/>


                        <span></span>

                    </div>
                }

                <div class="clearfix"></div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>