@using BhuInfo.Data.Factory.BusinessFactory
@using BhuInfo.Data.Objects.Entities
@using BhuInfo.Data.Service.DateTimeHelper
@using BhuInfo.Data.Service.Enums
@using BhuInfo.Data.Service.TextFormatter
@model BhuInfo.Data.Objects.Entities.SchoolDiscussion
@{
    var discussionId = Model.SchoolDiscussionId;

    var discussionComments = new DiscussionCommentFactory().GetDiscussionComments((int) discussionId);

    var loggedinuser = Session["bhuinfologgedinuser"] as AppUser;

    var postedBy = new AppUserFactory().GetAppUserById(1);
}

@{
    ViewBag.Title = "Activity";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var schoolDiscussionComments = discussionComments as IList<SchoolDiscussionComment> ?? discussionComments.ToList();
}
<header class="@ViewBag.HeaderClass">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            @if ((loggedinuser != null) && (loggedinuser.Role.Equals(UserType.Administrator.ToString()) || loggedinuser.Role.Equals(UserType.Manager.ToString())))
            {
                if (Model.Status == DiscussionState.Open.ToString())
                {
                    <div class="col-lg-12">
                        <a href="@Url.Action("CloseActivity", "SchoolDiscussions", new {Id = Model.SchoolDiscussionId})" class="btn btn-danger">Close Discussion</a>
                    </div>
                }
                else
                {
                    <div class="col-lg-12">

                    </div>
                }
            }
            else
            {
                <div class="col-lg-12">

                </div>
            }
        </div>
    </div>
</header>
<div class="container">
    <div class="header-bottom">
        <div class="type">
            <h5>Discussion Activity</h5>
        </div>
        <span class="menu"></span>
        @if (loggedinuser == null)
        {
            <div class="list-nav">
                <ul>
                    <li>
                        <a href="@Url.Action("Index", "Home")">Home</a>
                    </li>|
                    <li>
                        <a href="@Url.Action("GeneralNews", "Home")">General</a>
                    </li>|
                    <li>
                        <a href="@Url.Action("SportsNews", "Home")">Sports</a>
                    </li>|
                    <li>
                        <a href="@Url.Action("FashionNews", "Home")">Fashion</a>
                    </li>|
                    <li>
                        <a href="@Url.Action("Index", "SchoolDiscussions")" class="active">Discussions</a>
                    </li>|
                    <li>
                        <a href="@Url.Action("SrcTeam","Home")">SRC Team</a>
                    </li>
                </ul>
            </div>
        }
        <!-- script for menu -->
        <script>
            $("span.menu")
                .click(function() {
                    $(".list-nav")
                        .slideToggle("slow",
                            function() {
                                // Animation complete.
                            });
                });
        </script>
        <!-- script for menu -->
        <div class="clearfix"></div>
    </div>
</div>
<div class="container">
    <div class="content">
        <div class="single-page">
            <div class="print-main">
                <h3>@Html.DisplayFor(model => model.Topic)</h3>
                <p class="sub_head">
                    Posted by <a href="#">@postedBy.DisplayName</a> @(new DateTimeCalculator().TimeAgo(Model.DateCreated))
                </p>
                <a href="#">
                    <p>
                    <p>@(new RemoveCharacters().RemoveSpecialCharacters(Model.Content))</p>
                    </p>
                </a>
            </div>

        </div>
        <div class="col-md-7 single-content-center">
            <div class="col-md-12">
                @if (TempData["activity"] != null)
                {
                    if (TempData["notificationtype"].Equals(NotificationType.Success.ToString()))
                    {
                        <p class="alert-success alert-dismissable" style="height: 30px">@TempData["activity"]</p>
                    }
                    else if (TempData["notificationtype"].Equals(NotificationType.Danger.ToString()))
                    {
                        <p class="alert-danger alert-dismissable" style="height: 30px">@TempData["activity"]</p>
                    }
                    else if (TempData["notificationtype"].Equals(NotificationType.Info.ToString()))
                    {
                        <p class="alert-info alert-dismissable" style="height: 30px">@TempData["activity"]</p>
                    }
                }

                @if (Model.Status == DiscussionState.Open.ToString())
                {
                    <div class="leave">
                        <h4>Leave a comment</h4>
                    </div>
                    <div>
                        @using (Html.BeginForm("CreateDiscussionComment", "SchoolDiscussions", FormMethod.Post, new {@class = "col-md-12"}))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                            @Html.Hidden("DiscussionId", Model.SchoolDiscussionId)

                            <div class="form-group col-md-12">
                                @Html.Label("CommentBy", null, new {@class = "control-label"})
                                @Html.TextBox("CommentBy", null, new {@class = "form-control"})
                                @Html.ValidationMessage("CommentBy", "", new {@class = "text-danger"})

                            </div>
                            <div class="form-group col-md-12">
                                @Html.Label("Email", null, new {@class = "control-label"})
                                @Html.TextBox("Email", null, new {@class = "form-control"})
                                @Html.ValidationMessage("Email", "", new {@class = "text-danger"})

                            </div>
                            <div class="form-group col-md-12">
                                @Html.Label("Comment", null, new {@class = "control-label"})
                                @Html.TextArea("Comment", null, new {@class = "form-control"})
                                @Html.ValidationMessage("Comment", "", new {@class = "text-danger"})

                            </div>

                            <div class="col-md-12">
                                <a href="@Url.Action("Index", "SchoolDiscussions")" class="btn btn-default btn-sm pull-left">Back</a>
                                <input type="submit" value="submit" class="btn btn-primary btn-sm pull-right"/>

                            </div>
                        }
                    </div>
                }
                else
                {
                    <p class="alert alert-info">This Discussion forum has been closed</p>
                }

                <div class="comments1">
                    <h4>COMMENTS</h4>

                    @foreach (var item in schoolDiscussionComments)
                    {

                        <div class="comments-main">
                            <div class="col-md-12">
                                <h5 class="detailsDiv" style="font-family: sans-serif">@item.CommentBy</h5>
                                <p>@item.Comment.</p>
                                <div class="cmts">

                                    <p style="color: #3498DB">@(new DateTimeCalculator().TimeAgo(item.DateCreated))</p>

                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    }
                    

                </div>

            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>