@using BhuInfo.Data.Objects.Entities
@using BhuInfo.Data.Service.Enums
@model BhuInfo.Data.Objects.Entities.SchoolDiscussion


@{
    ViewBag.Title = "Create";
    var loggedinuser = Session["bhuinfologgedinuser"] as AppUser;
}
<!DOCTYPE html>
<html>
<head>
    <title>Bhu-Info | Home</title>
    <!-- Custom Theme files -->
    <!-- Custom Theme files -->
    <link href="~/AppTheme/css/style.css" rel="stylesheet"/>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet"/>
    <link href="~/fonts/font-awesome-4.6.3/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="~/Scripts/plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet"/>
    <!-- Custom Theme files -->

    <link href="~/Scripts/plugins/Form/css/select2.css" rel="stylesheet"/>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="Konstructs Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design"/>
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
</head>
<body>
<!-- header-section-starts -->
<div class="header">
    <div class="container">
        <div class="logo">
            <a href="@Url.Action("Index", "Home")">
                <h1>Bhu-Info</h1>
            </a>
        </div>
        <div class="pages">
            <ul>
                <li>
                    <a class="active" href="@Url.Action("Index", "Home")">News/Articles</a>
                </li>
            </ul>
        </div>
        <div class="navigation">
            <ul class="nav navbar-nav">
                <li>
                    <a href="@Url.Action("About", "Home")">About Us</a>
                </li>
                <li>
                    <a href="@Url.Action("Contact", "Home")">Contact Us</a>
                </li>

                @if (loggedinuser != null)
                {
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-user"></span>
                                <strong>@loggedinuser.Firstname</strong>
                                <span class="glyphicon glyphicon-chevron-down"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <div class="navbar-login">
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <p class="text-center">
                                                    <span class="glyphicon glyphicon-user icon-size"></span>
                                                </p>

                                                <div class="col-lg-8">
                                                    <p class="text-left">
                                                        <strong>@loggedinuser.DisplayName</strong>
                                                    </p>
                                                    <p class="text-left small">@loggedinuser.Email</p>

                                                    <p class="text-left">
                                                        <a href="#" class="btn btn-primary">Profile</a>
                                                    </p>

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </li>

                                <li class="divider navbar-login-session-bg"></li>
                                <li class="navbar-login-session-bg">
                                    <div class="navbar-login navbar-login-session">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <p>
                                                    <a href="@Url.Action("LogOut", "Account")" class="btn btn-danger btn-block">Logout</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                }

                else
                {
                    <li>
                        <a href="@Url.Action("Login", "Account")">Log In</a>
                    </li>
                }
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<header class="@ViewBag.HeaderClass">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                @*<h2 class="tagline">@ViewBag.Title</h2>*@
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="panel panel-flat">

            <div class="panel-body">
                <div class="col-md-12">
                    @if (TempData["event"] != null)
                    {
                        if (TempData["notificationtype"].Equals(NotificationType.Success.ToString()))
                        {
                            <p class="alert-success alert-dismissable" style="height: 30px">@TempData["event"]</p>
                        }
                        else if (TempData["notificationtype"].Equals(NotificationType.Danger.ToString()))
                        {
                            <p class="alert-danger alert-dismissable" style="height: 30px">@TempData["event"]</p>
                        }
                        else if (TempData["notificationtype"].Equals(NotificationType.Info.ToString()))
                        {
                            <p class="alert-info alert-dismissable" style="height: 30px">@TempData["event"]</p>
                        }
                    }
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                            <div class="form-group col-md-12">
                                @Html.LabelFor(model => model.Topic, new {@class = "control-label col-md-3"})
                                <div class="col-sm-6 col-md-9">
                                    @Html.TextBoxFor(model => model.Topic, new {@class = "form-control"})
                                    @Html.ValidationMessageFor(model => model.Topic, "", new {@class = "text-danger"})
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group col-md-12">
                                @Html.LabelFor(model => model.Content, new {@class = "control-label col-md-3"})
                                <div class="col-sm-6 col-md-9">
                                    @Html.TextBoxFor(model => model.Content, new {@class = "form-control"})
                                    @Html.ValidationMessageFor(model => model.Content, "", new {@class = "text-danger"})
                                </div>
                            </div>
                            <div class="col-md-12">
                                @Html.ActionLink("Back to List", "Index", null, new {@class = "btn btn-default pull-left"})
                                <input type="submit" value="Create" class="btn btn-primary pull-right"/>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>