@using BhuInfo.Data.Objects.Entities
@model BhuInfo.Data.Objects.Entities.Event

@{
    ViewBag.Title = "Create";
    var loggedinuser = Session["bhuinfologgedinuser"] as AppUser;
}
<!DOCTYPE html>
<html>
<head>
    <title>Bhu-Info | Home</title>
    <!-- Custom Theme files -->
    <!-- Custom Theme files -->
    <link href="~/AppTheme/css/style.css" rel="stylesheet"/>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet"/>
    <link href="~/fonts/font-awesome-4.6.3/css/font-awesome.min.css" rel="stylesheet"/>

    <!-- Custom Theme files -->
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/JqueryPlugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet"/>
    <link href="~/Scripts/plugins/Form/css/select2.css" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="Konstructs Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design"/>
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
</head>
<body>
<!-- header-section-starts -->
<div class="header">
    <div class="container">
        <div class="logo">
            <a href="index.html">
                <h1>Bhu-Info</h1>
            </a>
        </div>
        <div class="pages">
            <ul>
                <li>
                    <a class="active" href="index.html">News/Articles</a>
                </li>
            </ul>
        </div>
        <div class="navigation">
            <ul class="nav navbar-nav">
                <li>
                    <a href="@Url.Action("About", "Home")">About Us</a>
                </li>
                <li>
                    <a href="@Url.Action("Contact", "Home")">Contact Us</a>
                </li>

                @if (loggedinuser != null)
                {
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-user"></span>
                                <strong>@loggedinuser.Firstname</strong>
                                <span class="glyphicon glyphicon-chevron-down"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <div class="navbar-login">
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <p class="text-center">
                                                    <span class="glyphicon glyphicon-user icon-size"></span>
                                                </p>

                                                <div class="col-lg-8">
                                                    <p class="text-left">
                                                        <strong>@loggedinuser.DisplayName</strong>
                                                    </p>
                                                    <p class="text-left small">@loggedinuser.Email</p>

                                                    <p class="text-left">
                                                        <a href="#" class="btn btn-primary">Profile</a>
                                                    </p>

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </li>

                                <li class="divider navbar-login-session-bg"></li>
                                <li class="navbar-login-session-bg">
                                    <div class="navbar-login navbar-login-session">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <p>
                                                    <a href="@Url.Action("LogOut", "Account")" class="btn btn-danger btn-block">Logout</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                }

                else
                {
                    <li>
                        <a href="@Url.Action("Login", "Account")">Log In</a>
                    </li>
                }
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<header class="@ViewBag.HeaderClass">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="tagline">@ViewBag.Title</h2>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="panel panel-flat">

            <div class="panel-body">
                <div class="col-md-12">

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                        <fieldset>

                            <div class="form-group col-md-12">
                                @Html.LabelFor(model => model.EventName, new {@class = "control-label col-md-3"})
                                <div class="col-sm-6 col-md-9">
                                    @Html.TextBoxFor(model => model.EventName, new {@class = "form-control"})
                                    @Html.ValidationMessageFor(model => model.EventName, "", new {@class = "text-danger"})
                                </div>
                            </div>

                            <div class="form-group col-md-12">
                                @Html.LabelFor(model => model.Venue, new {@class = "control-label col-md-3"})
                                <div class="col-sm-6 col-md-9">
                                    @Html.TextBoxFor(model => model.Venue, new {@class = "form-control"})
                                    @Html.ValidationMessageFor(model => model.Venue, "", new {@class = "text-danger"})
                                </div>
                            </div>

                            <div class="form-group col-md-12">
                                @Html.LabelFor(model => model.StartDate, new {@class = "control-label col-md-3"})
                                <div class="col-sm-6 col-md-9">
                                    @Html.TextBoxFor(model => model.StartDate, new {@class = "form-control startDate"})
                                    @Html.ValidationMessageFor(model => model.StartDate, "", new {@class = "text-danger"})
                                </div>
                            </div>

                            <div class="form-group col-md-12">
                                @Html.LabelFor(model => model.EndDate, new {@class = "control-label col-md-3"})
                                <div class="col-sm-6 col-md-9">
                                    @Html.TextBoxFor(model => model.EndDate, new {@class = "form-control endDate"})
                                    @Html.ValidationMessageFor(model => model.EndDate, "", new {@class = "text-danger"})
                                </div>
                            </div>

                            <div class="form-group col-md-12">
                                @Html.LabelFor(model => model.Organizer, new {@class = "control-label col-md-3"})
                                <div class="col-sm-6 col-md-9">
                                    @Html.TextBoxFor(model => model.Organizer, new {@class = "form-control"})
                                    @Html.ValidationMessageFor(model => model.Organizer, "", new {@class = "text-danger"})
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Create" class="btn btn-default"/>
                                </div>
                            </div>
                        </fieldset>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/JqueryPlugins/ui/moment/moment.min.js"></script>
<script src="~/JqueryPlugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script src="~/Scripts/plugins/Form/js/select2.min.js"></script>

<script>
    $(document)
        .ready(function() {

            // Init select2 for dropdown select
            $('.select-dropdown').select2();

            // init datepicker for issue date
            $('.startDate').datetimepicker();

            // init datepicker for issue date
            $('.endDate').datetimepicker();

        })

</script>
@*@section scripts {
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/JqueryPlugins/ui/moment/moment.min.js"></script>
    <script src="~/JqueryPlugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Scripts/plugins/Form/js/select2.min.js"></script>

    <script>
        $(document)
            .ready(function() {

                // Init select2 for dropdown select
                $('.select-dropdown').select2();

                // init datepicker for issue date
                $('.endDate').datepicker();

                // init datepicker for issue date
                $('.startDate').datepicker();

            })
    </script>
}*@