@using BhuInfo.Data.Context.DataContext
@using BhuInfo.Data.Objects.Entities
@using BhuInfo.Data.Service.Encryption
@using BhuInfo.Data.Service.Enums
@model BhuInfo.Data.Objects.Entities.Event

@{
    ViewBag.Title = "Details";
}

@{
    ViewBag.Title = "Index";
    var loggedinuser = Session["bhuinfologgedinuser"] as AppUser;

    var db = new AppUserDataContext();
}
@{
    Layout = "~/Views/Shared/_LayoutViewDetails.cshtml";
}
<div class="container">
    <div class="header-bottom">
        <div class="type">
            <h5>Event Management</h5>
        </div>
        <span class="menu"></span>
        <div class="list-nav">
            <ul>
                <li>
                    <a href="@Url.Action("Index", "AppUsers")">Users</a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "News")">News</a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "NewsCategories")">News Category</a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "NewsCategories")" class="active">Events</a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "Advertisements")">Advertisment</a>
                </li>
            </ul>
        </div>
        <!-- script for menu -->
        <script>
            $("span.menu")
                .click(function() {
                    $(".list-nav")
                        .slideToggle("slow",
                            function() {
                                // Animation complete.
                            });
                });
        </script>
        <!-- script for menu -->

        <div class="clearfix"></div>
    </div>
</div>
<header class="@ViewBag.HeaderClass">
    <div class="overlay"></div>
    @*<div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="tagline">@ViewBag.Title</h2>
                    </div>
                </div>
            </div>*@
</header>
<div class="container">
    <div class="row">
        <div class="panel panel-flat">

            <div class="panel-body">
                <div class="col-md-8">
                    <div class="form-group col-md-12">
                        <div class="col-md-3 detailsDiv">
                            @Html.DisplayNameFor(model => model.EventName)
                        </div>

                        <div class="col-md-9">
                            @Html.DisplayFor(model => model.EventName)
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <div class="col-md-3 detailsDiv">
                            @Html.DisplayNameFor(model => model.Organizer)
                        </div>

                        <div class="col-md-9">
                            @Html.DisplayFor(model => model.Organizer)
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <div class="col-md-3 detailsDiv">
                            @Html.DisplayNameFor(model => model.Venue)
                        </div>

                        <div class="col-md-9">
                            @Html.DisplayFor(model => model.Venue)
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <div class="col-md-3 detailsDiv">
                            @Html.DisplayNameFor(model => model.StartDate)
                        </div>

                        <div class="col-md-9">
                            @Model.StartDate.ToShortDateString()
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <div class="col-md-3 detailsDiv">
                            @Html.DisplayNameFor(model => model.EndDate)
                        </div>

                        <div class="col-md-9">
                            @Model.EndDate.ToShortDateString()
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <div class="col-md-3 detailsDiv">
                            @Html.DisplayNameFor(model => model.StartTime)
                        </div>

                        <div class="col-md-9">
                            @Html.DisplayFor(model => model.StartTime)
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <div class="col-md-3 detailsDiv">
                            @Html.DisplayNameFor(model => model.EndTime)
                        </div>

                        <div class="col-md-9">
                            @Html.DisplayFor(model => model.EndTime)
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <div class="col-md-3 detailsDiv">
                            @Html.DisplayName("Created By")
                        </div>

                        <div class="col-md-9">
                            @db.AppUsers.Find(Model.CreatedById).DisplayName
                        </div>
                    </div>

                    <div class="form-group col-md-12">
                        <div class="col-md-3 detailsDiv">
                            @Html.DisplayName("Last ModifiedBy")
                        </div>

                        <div class="col-md-9">
                            @db.AppUsers.Find(Model.LastModifiedById).DisplayName
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <div class="col-md-3 detailsDiv">
                            @Html.DisplayNameFor(model => model.DateCreated)
                        </div>

                        <div class="col-md-9">

                            @Html.DisplayFor(model => model.DateCreated)
                        </div>
                    </div>

                    <div class="form-group col-md-12">
                        <div class="col-md-3 detailsDiv">
                            @Html.DisplayNameFor(model => model.DateLastModified)
                        </div>

                        <div class="col-md-9">

                            @Html.DisplayFor(model => model.DateLastModified)
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-right">
            @Html.ActionLink("Edit", "Edit", new {id = new Md5Ecryption().EncryptPrimaryKey(Model.EventId.ToString(), true) }, new {@class = "btn btn-primary pull-right"})
            @Html.ActionLink("Back to List", "Index", null, new {@class = "btn btn-default pull-left"})
        </div>
    </div>
</div>