@using BhuInfo.Data.Objects.Entities
@using BhuInfo.Data.Service.Enums
@model BhuInfo.Data.Objects.Entities.Event

@{
    ViewBag.Title = "Edit";
    var loggedinuser = Session["bhuinfologgedinuser"] as AppUser;
}
@{
    Layout = "~/Views/Shared/_LayoutViewDetails.cshtml";
}
@section css{

    <link href="~/Scripts/plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet"/>
}
<!-- header-section-starts -->
<div class="header">
    <div class="container">
        <div class="logo">
            <a href="@Url.Action("Index", "Home")">
                <h1>Bhu-Info</h1>
            </a>
        </div>
        <div class="pages">
            <ul>
                @if ((loggedinuser != null) && (loggedinuser.Role == UserType.Administrator.ToString()))
                {
                    <li>
                        <a class="active" href="@Url.Action("Index", "Events")">Admin/Events</a>
                    </li>
                }
                else
                {
                    <li>
                        <a class="active" href="@Url.Action("Index", "Events")">Manager/Events</a>
                    </li>
                }
            </ul>
        </div>
        <div class="navigation">
            <ul class="nav navbar-nav">
                <li>
                    <a href="@Url.Action("About", "Home")">About Us</a>
                </li>
                <li>
                    <a href="@Url.Action("Contact", "Home")">Contact Us</a>
                </li>

                @if (loggedinuser != null)
                {
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-user"></span>
                                <strong>@loggedinuser.Firstname</strong>
                                <span class="glyphicon glyphicon-chevron-down"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <div class="navbar-login">
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <p class="text-center">
                                                    <span class="glyphicon glyphicon-user icon-size"></span>
                                                </p>

                                                <div class="col-lg-8">
                                                    <p class="text-left">
                                                        <strong>@loggedinuser.DisplayName</strong>
                                                    </p>
                                                    <p class="text-left small">@loggedinuser.Email</p>

                                                    <p class="text-left">
                                                        <a href="#" class="btn btn-primary">Profile</a>
                                                    </p>

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </li>

                                <li class="divider navbar-login-session-bg"></li>
                                <li class="navbar-login-session-bg">
                                    <div class="navbar-login navbar-login-session">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <p>
                                                    <a href="@Url.Action("LogOut", "Account")" class="btn btn-danger btn-block">Logout</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                }

                else
                {
                    <li>
                        <a href="@Url.Action("Login", "Account")">Log In</a>
                    </li>
                }
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="container">
    <div class="header-bottom">
        <div class="type">
            <h5>Event Management</h5>
        </div>
        <span class="menu"></span>
        <div class="list-nav">
            <ul>
                <li>
                    <a href="@Url.Action("Index", "AppUsers")">Users</a>
                </li>|
                <li>
                    <a href="@Url.Action("Index", "News")">News</a>
                </li>|
                <li>
                    <a href="@Url.Action("Index", "NewsCategories")">News Category</a>
                </li>|
                <li>
                    <a href="@Url.Action("Index", "NewsCategories")" class="active">Events</a>
                </li>|
                <li>
                    <a href="materials.html">SRC Team</a>
                </li>
            </ul>
        </div>
        <!-- script for menu -->
        <script>
            $("span.menu")
                .click(function() {
                    $(".list-nav")
                        .slideToggle("slow",
                            function() {
                                // Animation complete.
                            });
                });
        </script>
        <!-- script for menu -->

        <div class="clearfix"></div>
    </div>
</div>
<header class="@ViewBag.HeaderClass">
    <div class="overlay"></div>
    @*<div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="tagline">@ViewBag.Title</h2>
                    </div>
                </div>
            </div>*@
</header>
<div class="container">
    <div class="row">
        <div class="panel panel-flat">

            <div class="panel-body">
                <div class="col-md-12">


                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-horizontal">

                            @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                            @Html.HiddenFor(model => model.EventId)
                            @Html.Hidden("date", Model.DateCreated)
                            @Html.Hidden("createdby", Model.CreatedById)
                            <div class="row">
                                <div class="form-group col-md-12">
                                    @Html.LabelFor(model => model.EventName, new {@class = "control-label col-md-3"})
                                    <div class="col-sm-6 col-md-9">
                                        @Html.TextBoxFor(model => model.EventName, new {@class = "form-control"})
                                        @Html.ValidationMessageFor(model => model.EventName, "", new {@class = "text-danger"})
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group col-md-12">
                                    @Html.LabelFor(model => model.Venue, new {@class = "control-label col-md-3"})
                                    <div class="col-sm-6 col-md-9">
                                        @Html.TextBoxFor(model => model.Venue, new {@class = "form-control"})
                                        @Html.ValidationMessageFor(model => model.Venue, "", new {@class = "text-danger"})
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group col-md-12">
                                    @Html.LabelFor(model => model.StartDate, new {@class = "control-label col-md-3"})
                                    <div class="col-sm-6 col-md-9">
                                        @Html.TextBoxFor(model => model.StartDate, new {@class = "form-control startDate"})
                                        @Html.ValidationMessageFor(model => model.StartDate, "", new {@class = "text-danger"})
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group col-md-12">
                                    @Html.LabelFor(model => model.EndDate, new {@class = "control-label col-md-3"})
                                    <div class="col-sm-6 col-md-9">
                                        @Html.TextBoxFor(model => model.EndDate, new {@class = "form-control endDate"})
                                        @Html.ValidationMessageFor(model => model.EndDate, "", new {@class = "text-danger"})
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group col-md-12">
                                    @Html.LabelFor(model => model.Organizer, new {@class = "control-label col-md-3"})
                                    <div class="col-sm-6 col-md-9">
                                        @Html.TextBoxFor(model => model.Organizer, new {@class = "form-control"})
                                        @Html.ValidationMessageFor(model => model.Organizer, "", new {@class = "text-danger"})
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <input type="submit" value="Save" class="btn btn-primary pull-right"/>
                                @Html.ActionLink("Back to List", "Index", null, new {@class = "btn btn-default pull-left"})
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Scripts/plugins/moment/min/moment.min.js"></script>
    <script src="~/Scripts/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script>
        $(document)
            .ready(function() {


                // init datepicker for start date
                $('.startDate').datepicker();

                // init datepicker for start date
                $('.endDate').datepicker();

                // init datepicker for date
                $('.startDate').datepicker({ 'endDate': new Date() });

                // set start date of end date based on selected start date
                $('.startDate')
                    .datepicker()
                    .on('changeDate',
                        function(e) {

                            // apply selected date as start date for expiry
                            $('.endDate').datepicker('setStartDate', e.date);
                        });
            })

    </script>
}