@using BhuInfo.Data.Objects.Entities
@using BhuInfo.Data.Service.Enums
@model IEnumerable<BhuInfo.Data.Objects.Entities.Event>

@{
    ViewBag.Title = "Index";
    var loggedinuser = Session["bhuinfologgedinuser"] as AppUser;
}
@{
    Layout = "~/Views/Shared/_LayoutViewDetails.cshtml";
}
@section css{

    <link href="~/Scripts/plugins/dataTables/css/dataTables.bootstrap.min.css" rel="stylesheet"/>
}
<div class="container">
    <div class="header-bottom">
        <div class="type">
            <h5>Event Management</h5>
        </div>
        <span class="menu"></span>
        <div class="list-nav">
            <ul>
                <li>
                    <a href="@Url.Action("Index", "AppUsers")">Users</a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "News")">News</a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "NewsCategories")">News Category</a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "NewsCategories")" class="active">Events</a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "SchoolDiscussions")">Discussion</a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "Advertisements")">Advertisment</a>
                </li>
            </ul>
        </div>

        <div class="clearfix"></div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="panel panel-flat">

            <div class="panel-body">
                <div class="col-md-12">

                    @if (TempData["event"] != null)
                    {
                        if (TempData["notificationtype"].Equals(NotificationType.Success.ToString()))
                        {
                            <p class="alert-success alert-dismissable" style="height: 30px">@TempData["event"]</p>
                        }
                        else if (TempData["notificationtype"].Equals(NotificationType.Danger.ToString()))
                        {
                            <p class="alert-danger alert-dismissable" style="height: 30px">@TempData["event"]</p>
                        }
                        else if (TempData["notificationtype"].Equals(NotificationType.Info.ToString()))
                        {
                            <p class="alert-info alert-dismissable" style="height: 30px">@TempData["event"]</p>
                        }
                    }
                    <p>
                        @Html.ActionLink("Create New", "Create", null, new {@class = "btn btn-success"})
                    </p>
                    <div class="table-responsive">
                        <table class="table table-condensed table-hover event">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.EventName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Venue)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.StartDate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.EndDate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.StartTime)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.EndTime)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Organizer)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.DateCreated)
                                </th>
                                <th>Action</th>
                            </tr>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EventName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Venue)
                                    </td>
                                    <td>
                                        @item.StartDate.ToShortDateString()
                                    </td>
                                    <td>
                                        @item.EndDate.ToShortDateString()
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.StartTime)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EndTime)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Organizer)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DateCreated)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Edit", "Edit", new {id = item.EventId}, new {@class = "btn btn-primary"}) |
                                        @Html.ActionLink("Details", "Details", new {id = item.EventId}, new {@class = "btn btn-default"}) |
                                        @Html.ActionLink("Delete", "Delete", new {id = item.EventId}, new {@class = "btn btn-danger"})
                                    </td>
                                </tr>
                            }

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/JqueryPlugins/datatables/jquery.dataTables.js"></script>
    <script src="~/Scripts/plugins/dataTables/js/dataTables.bootstrap.min.js"></script>

    <script>
        $(document)
            .ready(function() {
                $('.event').dataTable();
            });
    </script>
}