@using BhuInfo.Data.Objects.Entities
@using BhuInfo.Data.Service.Enums
@model BhuInfo.Data.Objects.Entities.News


@{
    ViewBag.Title = "Edit";
    var loggedinuser = Session["bhuinfologgedinuser"] as AppUser;
}
@{
    Layout = "~/Views/Shared/_LayoutViewDetails.cshtml";
}
@section css{
    <link href="~/Scripts/plugins/ckeditor/contents.css" rel="stylesheet"/>
    <link href="~/Scripts/plugins/Form/css/select2.css" rel="stylesheet"/>
}
<!-- header-section-starts -->
<div class="header">
    <div class="container">
        <div class="logo">
            <a href="@Url.Action("Index", "Home")">
                <h1>Bhu-Info</h1>
            </a>
        </div>
        <div class="pages">
            <ul>
                @if ((loggedinuser != null) && (loggedinuser.Role == UserType.Administrator.ToString()))
                {
                    <li>
                        <a class="active" href="@Url.Action("Index", "News")">Admin/News</a>
                    </li>
                }
                else
                {
                    <li>
                        <a class="active" href="@Url.Action("Index", "News")">Manager/News</a>
                    </li>
                }
            </ul>
        </div>
        <div class="navigation">
            <ul class="nav navbar-nav">
                <li>
                    <a href="@Url.Action("About", "Home")">About Us</a>
                </li>
                <li>
                    <a href="@Url.Action("Contact", "Home")">Contact Us</a>
                </li>

                @if (loggedinuser != null)
                {
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-user"></span>
                                <strong>@loggedinuser.Firstname</strong>
                                <span class="glyphicon glyphicon-chevron-down"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <div class="navbar-login">
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <p class="text-center">
                                                    <span class="glyphicon glyphicon-user icon-size"></span>
                                                </p>

                                                <div class="col-lg-8">
                                                    <p class="text-left">
                                                        <strong>@loggedinuser.DisplayName</strong>
                                                    </p>
                                                    <p class="text-left small">@loggedinuser.Email</p>
                                                    <p class="text-left">
                                                        <a href="@Url.Action("ChangePassword", "Account")" class="btn btn-success">Change Password</a>
                                                    </p>

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </li>

                                <li class="divider navbar-login-session-bg"></li>
                                <li class="navbar-login-session-bg">
                                    <div class="navbar-login navbar-login-session">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <p>
                                                    <a href="@Url.Action("LogOut", "Account")" class="btn btn-danger btn-block">Logout</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                }

                else
                {
                    <li>
                        <a href="@Url.Action("Login", "Account")">Log In</a>
                    </li>
                }
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="container">
    <div class="header-bottom">
        <div class="type">
            <h5>Article Management</h5>
        </div>
        <span class="menu"></span>
        <div class="list-nav">
            <ul>
                <li>
                    <a href="@Url.Action("Index", "AppUsers")">Users</a>
                </li>|
                <li>
                    <a href="@Url.Action("Index", "News")" class="active">News</a>
                </li>|
                <li>
                    <a href="@Url.Action("Index", "NewsCategories")">News Category</a>
                </li>|
                <li>
                    <a href="@Url.Action("Index", "Events")">Events</a>
                </li>|
                <li>
                    <a href="materials.html">SRC Team</a>
                </li>
            </ul>
        </div>
        <!-- script for menu -->
        <script>
            $("span.menu")
                .click(function() {
                    $(".list-nav")
                        .slideToggle("slow",
                            function() {
                                // Animation complete.
                            });
                });
        </script>
        <!-- script for menu -->

        <div class="clearfix"></div>
    </div>
</div>
<header class="@ViewBag.HeaderClass">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                @*<h2 class="tagline">@ViewBag.Title</h2>*@
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="panel panel-flat">

            <div class="panel-body">
                <div class="col-md-12">


                    @using (Html.BeginForm(new {date = Model.DateCreated}))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-horizontal">
                            @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                            @Html.HiddenFor(model => model.NewsId)
                            @Html.Hidden("date", Model.DateCreated)
                            @Html.Hidden("newsview", Model.NewsView)
                            @Html.Hidden("createdby", Model.CreatedById)
                            @Html.Hidden("image", Model.Image)
                            @Html.Hidden("secondimage", Model.SecondImage)
                            @Html.Hidden("thirdimage", Model.ThirdImage)
                            @Html.Hidden("likes", Model.Likes)
                            @Html.Hidden("dislikes", Model.Dislikes)

                            <div class="row">
                                <div class="form-group col-md-12">
                                    @Html.LabelFor(model => model.Title, new {@class = "control-label col-md-3"})
                                    <div class="col-sm-6 col-md-9">
                                        @Html.TextBoxFor(model => model.Title, new {@class = "form-control"})
                                        @Html.ValidationMessageFor(model => model.Title, "", new {@class = "text-danger"})
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group col-md-12">
                                    @Html.LabelFor(model => model.Content, new {@class = "control-label col-md-3"})
                                    <div class="col-sm-6 col-md-9">
                                        @Html.TextAreaFor(model => model.Content, new {@class = "form-control", id = "content"})
                                        @Html.ValidationMessageFor(model => model.Content, "", new {@class = "text-danger"})
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group col-md-12">
                                    @Html.LabelFor(model => model.NewsCategory, new {@class = "control-label col-md-3"})
                                    <div class="col-sm-6 col-md-9">
                                        @Html.DropDownListFor(model => model.NewsCategory.NewsCategoryId, (SelectList) ViewBag.Categories, new {@class = "form-control select-dropdown"})
                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <input type="submit" value="Save" class="btn btn-primary pull-right"/>
                                    @Html.ActionLink("Back to List", "Index", null, new {@class = "pull-left btn btn-default"})
                                </div>
                            </div>
                        </div>
                    }

                </div>

            </div>
        </div>
    </div>

</div>
@section scripts{
    <script src="~/Scripts/plugins/Form/js/select2.min.js"></script>
    <script src="~/Scripts/plugins/ckeditor/ckeditor.js"></script>
    <script>
        $(document)
            .ready(function() {

                // Init select2 for dropdown select
                $('.select-dropdown').select2();

                CKEDITOR.replace("content");
            })
    </script>
}