<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="Konstructs Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design"/>
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

    <title>@ViewBag.Title - Bhu Info</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


    @RenderSection("css", false)
</head>
<body>

@RenderBody()
<div class="footer">
    <div class="footer-top">
        <div class="container">
            <div class="col-md-3 footer-links">
                <h4>Other pages and things</h4>
                <a href="#">Design a creative Blog</a>
                <a href="#">Design a iPad Website</a>
                <a href="#">Single Page sales portfolio </a>
                <a href="#">Flat product website in Photoshop</a>
                <a href="#">Design a creative Blog</a>
                <a href="#">Design a iPad Website</a>
                <a href="#">Single Page sales portfolio </a>
                <a href="#">Flat product website</a>
            </div>
            <div class="col-md-3 footer-links span_66">
                <a href="#">Flat product website in Photoshop</a>
                <a href="#">Design a creative Blog</a>
                <a href="#">Design a iPad Website </a>
            </div>
            <div class="col-md-3 footer-links">
                <h4>Relevant Articles</h4>
                <a href="#">Design a creative Blog</a>
                <a href="#">Design a iPad Website</a>
                <a href="#">Single Page sales portfolio </a>
                <a href="#">Flat product website</a>
                <a href="#">Design a creative Blog</a>
            </div>
            <div class="col-md-3 footer-links">
                <h4>Other pages and things</h4>
                <a href="#">Blaz Robar</a>
                <a href="#">Nick Toranto</a>
                <a href="#">Joisp Kelava</a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="copyrights">
                <p>
                    BhuInfo © 2016 All rights reserved | site by Babayegar.
                </p>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/scripts")
@RenderSection("scripts", false)
</body>
</html>